<h2>{"Check-In"|gettext}</h2>

{"Please authenticate against in the Check-In App with your authentication data for gästeliste.org:"|gettext}<br />
<br />
<form action="{$CHECKIN_APP}" method="post" target="_blank" class="nojssubmit">
	<input type="hidden" name="fevent_id" value="{$fevent_id}" />
	<button class="btn btn-large btn-primary" type="submit">{"Access Check-In App"|gettext}</button>
</form>
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;

<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
<br /> &nbsp;
