<div class="hero-unit" id="filemanagertitle">
	<h1>{"File Manager"|gettext}</h1>
</div>
<br />
{include file="filemanager/fmpage.tpl"}
<div class="clear"></div>


<div id="popupFilemanager" class="popup">
	<div class="closepopup"><a href="javascript:closePopup();">{"close"|gettext}</a></div>
	<div id="popupPanelFilemanager" class="panel">
		:-)
	</div>
</div>