<div class="hero-unit" id="crmtitle">
	<h1>{"Email templates"|gettext}</h1>
</div>
<div class="clear"></div>

<div class="subpage singletemplate">{include file="emailtemplate/emailtemplateform.tpl"}</div>
