* {
	font-family: 'Arial', sans-serif;
	margin: 0px;
	padding: 0px;
}
.qr {
	position: absolute;
	top: 60px;
	left: 5px;
}
.namefield {
	position: absolute;
	top: 100px;
	left: 300px;
	font-size: 40px;
	width: 350px;
}
.title {
	position: absolute;
	top: 0px;	
	left: 0px;
	border-bottom: 1px solid #000;
	font-size: 40px;
	width: 650px;
	text-align: center;
}
