@CHARSET "UTF-8";
* {
	font-family: 'Roboto', 'Arial', sans-serif;
}

body.ui-overlay-a {
	background-color: #f5f5f5;
	padding: 0;
	margin: 0;
	/*background-image: url('/pic/fluxline_logo_background.png');*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body.iframebody {
	background: none;
}

.ui-page-active, .ui-mobile [data-role="page"], .ui-page {
	width: 90%;
	margin-left: 5%;
	top: 2%;
/*	min-height: 100px !important;*/
}

a {
	color: #888;
	cursor: pointer;
}

#pageEvent, #pageHome, #pageLogin, .ui-header, .ui-panel-wrapper {
	background-color: transparent !important;
}
#pageHome {
	margin-top: 50px;
}
.ui-content {
	background-color: #f3f3f3;
}
.ui-header {
	border-style: none !important;
/*	background-image: url('/pic/topbg1.png');*/
	background-repeat: repeat-x;
}

.headerbg {
	/*background-image: url('/pic/topbg1.png');*/
	background-repeat: repeat-x;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 130px;
}

.sitelogo {
	position: absolute;
	left: 10px;
	height: 35px;
}
.center {
	text-align: center;
}

/* In Header, title of the site */
.sitetitle {
	position: absolute;
	left: 10px;
	font-size: 11px;
	top: 44px;
	color: #888;
}
@media all and (min-width: 400px) {
	.sitetitle {
		position: absolute;
		font-size: 11px;
		left: 10px;
		top: 44px;
		color: #888;
		text-align: center;
	}
}

h1 {
	text-align: center;
	font-size: 17px;
	border-bottom: 1px solid #888;
	margin-bottom: 0;
	color: #888;
}
.eventmicrodata {
	font-size: 9px;
	color: #888;
	text-align: right;
	margin: 0;
}

h2 {
	text-align: right;
	font-size: 12px;
	margin: 0;
}

#testing {
	position: fixed;
	bottom: 10px;
	width: 200px;
	height: 30px;
	background-color: #efe;
	border: 3px solid #080;
	left: 10px;
	padding: 5px;
	color: #080;
	font-weight: bold;
	text-align: center;
	transparency: 0.5;
	opaque: 0.5;
	opacity: 0.5;
}

/* Login-form on the start page */
.pwform {
	max-width: 300px;
	margin: auto;
}

.errorfield {
	border: #c00 solid 2px !important;
	background-color: #fcc !important;
}

.errtext {
	color: #c00;
}

.error {
	border: #c00 solid 2px;
	background-color: #fcc;
	padding: 5px;
	color: #c00;
}
.error ul, .error ul li {
	color: #c00;
}

/* Input fields for day / month / year / ... */
.datepartfield {
	width: 40px;
}

/* The field #eventid is just used to print the current event id somewhere in the html code. */
#eventid {
	display: none;
}

/* This overrides a setting from the bootstrap css files, but is necessary to 
display the datatables header and footer correctly (guest list table). */
/*.row {
	margin-left: 0px !important;
}*/

#guesttable {
	width: 100%;
}
/* JQuery DataTables: Highlight hovered rows */
#guesttable tbody tr.even:hover, #guesttable tbody tr.even td.highlighted,
#guesttable tbody tr:nth-child(even),
.smalltable tbody tr:nth-child(even) {
	background-color: #eee;
}
#guesttable th {
	border-bottom: 1px solid #ccc;
}
#guesttable tbody tr.odd:hover > td, #guesttable tbody tr.odd td.highlighted,
#guesttable tbody tr.odd, #guesttable tbody tr:nth-child(odd) {
	background-color: #fff;
}

#guesttable tbody tr:hover {
	background-color: #fc0;
}
#guesttable thead tr th {
	cursor: pointer;
}

.uploadiframe {
	border: none;
	display: block;
	width: 100%;
}

.noshow {
	display: none !important;
}

.right {
	text-align: right !important;
}

.alert-hidden {
	display: none;
}

.hide {
	display: none;
}

/* Page Footer */
.footer {
	border-top: 1px solid #888;
	font-size: .8em;
	color: #888;
	margin-top: 10px;
	clear: both;
}
.footer a {
	color: #888;
}

.textfooter {
	padding: 0;
	margin: 0;
	font-size: 9px;
}
.footerlinks {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	font-size: 9px;
}
.footerlinks ul {
	margin: 0;
	padding: 0;
}
.footerlinks ul li {
	margin: 0;
	float: left;
	list-style-type: none;
	padding-right: 10px;
}

/* Event Menu */
#paneleventmenu {
	top: 30px;
	min-height: auto !important;
}

.eventselection {
	position: absolute;
	top: 60px;
	right: 50px;
}

/* form labels */
.guestform label, #paneldomain label, #panelfield label, .settingsform label, .emailtemplateform label, 
.addPaymentForm label, .ticketcategoryaddform label, .verticalform label {
	display: block;
	margin-top: 5px;
	font-size: 11px;
	margin-bottom: 0;
}
.guestform .ui-input-text, #panelfield .ui-input-text, #paneldomain .ui-input-text {
	margin-bottom: 0;
	margin-top: 0;
}
.guestform .help-block, #panelfield .help-block, #paneldomain .help-block {
	display: block;
}

.help-block {
	font-size: .8em;
	color: #888;
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
	margin-right: 65px;
}


.twothirds {
	width: 100%;
	float: none;
}
@media all and (min-width: 630px) {
	.ui-block-a {
		width: 64%;
		padding: .5%;
		float: left;
	}
	.ui-block-b {
		width: 34%;
		/*padding: 5px;*/
		padding: .5%;
		float: left;
	}
}

ul.eventlist {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.eventlist li {
	
}
ul.eventlist li a {
	border: 1px solid #bbb;
	padding: 5px;
	margin: 0;
	margin-bottom: 3px;
	display: block;
	color: #888;
	text-decoration: none;
	background: #eee;
}
ul.eventlist li a:hover {
	color: #fff;
	background: #fdcc36;
}

#guesttable tbody tr td:last-child {
	white-space: nowrap;
}
.emptyguestlist {
	padding: 1em;
	text-align: center;
}
#gsearch {
	background-image: url('/pic/icons/search.svg');
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #888;
}

.iconaction {
	cursor: pointer;
}

.hidden {
	display: none;
}

nav.topmenu ul li {
	list-style-type: none;
	float: left;
	padding: 4px;
	background-color: #eee;
}
nav.topmenu ul li.fblink {
	background-color: #3b5998;
}
nav.topmenu ul li.fblink:hover {
	background-color: #5b79b8;
}
nav.topmenu ul li.fblink a {
	color: #fff;
	text-decoration: none;
}

/**
 * .topmenu is the account menu
 */
.topmenu {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}
.topmenu ul {
	margin: 0;
}
.topmenu ul li ul {
	display: none;
}
nav.topmenu ul li ul li {
	display: block;
	text-align: right;
	float: none;
}

/**
 * first navigation level
 */
nav.mmenu {
	display: block;
	margin: 0;
	padding: 0;
}
nav.mmenu ul {
	margin: 0;
	padding: 0;
}
nav.mmenu ul li {
	list-style-type: none;
	float: left;
	padding: 0 8px 0 8px;
	border-bottom: 1px solid #999;
}
nav.mmenu ul li a {
	color: #999;
	text-decoration: none;
}
nav.mmenu ul li a:hover {
	color: #444;
}
nav.mmenu ul li.active a {
	color: #000;
}
nav.mmenu ul li.active {
	border-bottom: 1px solid #000;
}

/**
 * second navigation level
 */
nav.msubmenu ul {
	margin: 0;
	padding: 0;
}
nav.msubmenu ul li {
	list-style-type: none;
	float: left;
	padding: 0 4px 0 4px;
	font-size: .8em;
	border-right: solid #999 1px;
}
nav.msubmenu ul li a {
	text-decoration: none;
}

/* vertical tab system */
nav.vtabs {
	float: left;
}
nav.vtabs ul {
	margin: 0;
	padding: 0;
}
nav.vtabs ul li {
	list-style-type: none;
}
nav.vtabs ul li.active a {
	color: #000;
}
.vtabscontent {
	margin-left: 200px;
}

.clear {
	clear: both;
}

.halfsubpage {
	background-color: #f00;
	margin-left: 50%;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	background-color: #fff;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2.5%;
	border: 3px solid #888;
	z-index: 1002;
	overflow: auto;
}
.closepopup {
	color: #000;
	text-align: right;
	margin: 3px;
	font-size: 10px;
}
.popupbackground {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;	
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	z-index: 1001;
}
.popup .panel {
	padding: 10px;
}
.popup .panel h3 {
	margin-top: 0;
}
.pwform {
	margin-bottom: 100px;
}
.pwform h3 {
	font-size: 14px;
	border-bottom: 1px solid #000;
}
.pwformsmalltext {
	font-size: 11px;
}

h3:first-child {
	margin-top: 0;
}
/**
 *icons
 */
.iconbutton {
}
.iconedit {
}

.alert-success {
	position: absolute;
	width: 25%;
	color: #080;
	background-color: #cfc;
	border: 1px solid #080;
	padding: 5px;
}

.formsubmitbutton {
	display: block;
	margin-top: 10px;
}


.togglesection {
	margin-top: 14px;
}
.togglesection:nth-child(1) {
	margin-top: 0;
}
.togglesection .toggled {
	display: none;
}
.togglesection .toggler {
	cursor: pointer;
	font-weight: bold;
	border-bottom: 1px dotted #888;
}
.toggled form label {
	margin-top: 5px;
	display: block;
	font-size: 9px;
}
.toggled form .errtext {
	font-size: 9px;
}

textarea.bightml {
	width: 100%;
	height: 200px;
}

table.multisetting tbody tr.even:hover, table.multisetting tbody tr.even td.highlighted,
table.multisetting tbody tr:nth-child(even) {
	background-color: #eee;
}

table.multisetting tbody tr.odd:hover > td, table.multisetting tbody tr.odd td.highlighted,
table.multisetting tbody tr.odd, table.multisetting tbody tr:nth-child(odd) {
	background-color: #fff;
}
table.multisetting td {
	vertical-align: top;
}

/**
 * htabs
 */
.htabs_menu {
	margin: 0;
	padding: 0;
	border-bottom: #222 1px solid;
	height: 29px;
}
.htabs_menu li {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	float: left;
	border: 1px solid #888;
	background-color: #ddd;
	color: #888;
	cursor: pointer; 
}
.htabs_menu li.active {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	float: left;
	border: 1px solid #888;
	cursor: pointer;
	color: #222;
	border-color: #222;
	background-color: #fff;
	border-bottom-style: none;
}
.htab {
	clear: both;
	border: 1px solid #222;
	border-top-style: none;
	padding: 5px;
	margin-top: -2px;
	display: none;
}
.htab:nth-child(2) {
	display: block;
}

/* popup columns */
.popup .lcol {
	float: left;
	max-width: 49%;
	min-width: 49%;
}
.popup .rcol {
	margin-left: 50.5%;
}
.popup h2 {
	text-align: left;
	border-bottom: 1px solid #888;
	color: #888;
}

/* File Manager */
div.filemanager:not(.subpage) {
	border: 1px solid #ccc;
	width: 100%;
	max-width: 800px;
}
div.filemanager .foldername {
	background-color: #ddd;
	color: #aaa;
	padding: 3px;
	font-size: .7em;
}
div.filemanager table.filelist {
	table-layout: fixed;
	font-size: .7em;
	width: 100%;
}
div.filemanager table thead tr th {
	border-bottom: 1px solid #444;
}
div.filemanager table tbody tr:nth-child(odd) {
	background-color: #eee;
}
div.filemanager table.filelist tbody tr td:nth-child(1),
div.filemanager table.filelist thead tr th:nth-child(1) {
	width: 20px;
	text-align: right;
	padding-right: 3px;
}
div.filemanager table.filelist tbody tr td:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
}
div.filemanager table.filelist tbody tr td:nth-child(3),
div.filemanager table.filelist thead tr th:nth-child(3) {
	width: 100px;
	text-align: right;
	padding-right: 3px;
}
div.filemanager table.filelist thead tr th:nth-child(3) {
	text-align: center;
}

div.filemanager table.filelist tbody tr td:nth-child(4),
div.filemanager table.filelist thead tr th:nth-child(4)  {
	width: 90px;
	text-align: left;
}
div.filemanager table.filelist thead tr th:nth-child(4) {
	text-align: center;
}
div.filemanager table.filelist tbody tr td:nth-child(5),
div.filemanager table.filelist thead tr th:nth-child(5)  {
	width: 20px;
	text-align: center;
}
div.filemanager table.filelist thead tr th:nth-child(5) {
	text-align: center;
}
div.filemanager table.filelist tbody tr.upwards td {
	text-align: left;
}
div.filemanager table.filelist tbody tr.upwards td img {
	width: 16px;
}
div.filemanager .menuicon {
	font-size: .7em;
	float: left;
	background-color: #eee;
	border-right: 1px solid #ccc;
	padding: 4px;
	background-repeat: no-repeat;
	background-position: 4px 2px;
	padding-left: 24px;
	padding-top: 4px;
	cursor: pointer;
}
div.filemanager .menuicon img {
	margin-right: 5px;
	float: left;
}
div.filemanager .menuicon div {
	display: inline;
	padding-top: 4px;
}
div.filemanager .menuicon.active {
	background-color: #fff;
	border-bottom-style: none;
}
div.filemanager .fineform {
	padding: 10px;
	font-size: .7em;
}
div.filemanager .fineform label input {
	margin-left: 5px;
}
div.filemanager tr.fileSelected .filelink {
	border-left: solid 4px #444;
	font-weight: bold;
}
div.filemanager tr {
	cursor: pointer;
}
.menuicon.newfolder {
	background-image: url('/pic/icons/folder_new.svg');
}
.menuicon.uploadfile {
	background-image: url('/pic/icons/file_upload.svg');
}
.folderlink {
	cursor: pointer;
}
.internalfileselector .filemanager {
	margin: 10px;
}
input.selectedfile {
	/*display: none;*/
}
.selectedfiledisplay {
	background-image: url('/pic/icons/file.svg');
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: 0px 0px;
	padding-left: 20px;
	cursor: pointer;
	font-size: 11px;
}
.accountpage h3 {
	border-bottom: 1px solid #444;
}
label.checklabel {
	display: block;
	clear: both;
}
label.checklabel input {
	float: left;
}
label.checklabel span {
	display: block;
	margin-left: 22px;
	padding-top: 3px;
}
.buttonResendInvoice, .buttonRemoteprintInvoice {
	cursor: pointer;
}

.waitingforserver {
	opacity: 0.5;
	cursor: wait;
}

.informUserError {
	color: #a00;
}


.smalltable {
	vertical-align: top;
	font-size: .8em;
}

td.price {
	text-align: right;
}

.invoicecancelled td {
	text-decoration: line-through;
}

#logstatusdisplay, #outlogstatusdisplay {
	border: 1px solid #444;
	padding: 1rem;
	font-size: .7rem;
	font-family: 'Courier', monospace;
}

textarea, .toggled > form > input {
      width: 98%;
      max-width: 50em;
      font-family: monospace;
}
.toggled > form > input[type=checkbox] {
      width: auto;
}

textarea:focus, .toggled > form > input:focus {
	border: 1px solid #000;
}

.selectedfiledisplay {
      font-family: monospace;
      font-size: 100%;
}
form.settingsform > label, .toggled > form > label {
      font-size: 80%;
}

.toggled > form > input[type=submit] {
      font-family: sans-serif;
      width: initial;
}

.fbfeedbackbutton {
	padding: 10px 30px 10px 30px;
	background-color: #3B5998;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: auto;
}
.fbfeedbackbutton:hover {
	background-color: #5b79b8;
}