	</td></tr>
	<tr><td class="disclaimer">
		This email has been sent to you by a user of the website 
		<a href="http://gästeliste.org">gästeliste.org</a>.
		In case you consider it being spam, please contact us immediately 
		at <a href="mailto:mail@line5.tv">mail@line5.tv</a>. Thank you for your help.
		<hr />
		Diese E-Mail wurde Ihnen von einem Nutzer des Portals 
		<a href="http://gästeliste.org">gästeliste.org</a> zugestellt. 
		Falls es sich um Spam handelt, kontaktieren Sie uns bitte umgehend unter
		<a href="mailto:mail@line5.tv">mail@line5.tv</a>. Vielen Dank. 
	</td></tr>
	</table>
</body>
</html>