<div class="header">
	<div style="height:20px; text-align: right;">
		<a href="/{$lg}"><img class="sitelogo" src="{$gsLocal['SITE_MINILOGO'][$lg]}" alt="{$gsLocal['SITE_NAME'][$lg]}" /></a>
		<span class="sitetitle">{$gsLocal['SITE_SUBTITLE'][$lg]}</span>
	</div>
</div>