<div>
	{if count($eventlist) > 10}
		<form>
			<div class="ui-field-contain">
	    		<label for="selectevent">{"Your events"|gettext}</label>
	    		<select name="selectevent" id="selectevent">
	        		{$eventlistMenu}
	    		</select>
			</div>
		</form>
	{elseif count($eventlist) == 1}
	{elseif count($eventlist) == 0}
	{/if}
	{$content}
</div>